<div class="bat">
  <span class="sr-only">Sona the Bat</span>
  <div class="head">
    <span class="sr-only">Head</span>
    <div class="eye">
      <span class="sr-only">Left Eye</span>
    </div>
    <div class="eye">
      <span class="sr-only">Right Eye</span>
    </div>
  </div>
  <div class="bod">
    <span class="sr-only">Body</span>
    <div class="wings">
      <span class="sr-only">Wings</span>
    </div>
    <div class="tail">
      <span class="sr-only">Tail</span>
    </div>
  </div>
</div>
