<nav id="main-nav">
  <a class="nav-links" routerLink="">HOME</a>
  <a class="nav-links" routerLink="/animations1">Animations</a>
  <a class="nav-links" routerLink="/font-colors">Font Colors</a>
  <a class="nav-links" routerLink="/font-styles">Font Styles</a>
  <a class="nav-links" routerLink="/palettes">Palettes</a>
  <a class="nav-links" routerLink="/preloaders">Pre-loaders</a>
  <a class="nav-links" routerLink="/themes">Themes</a>
</nav>
<div id="bump">
  <router-outlet></router-outlet>
</div>
