#main-nav {
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 10vh;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #001429;
}

.nav-links {
    display: inline-block;
    color: rgb(151, 201, 201);
    margin: 4vh 15px;
    text-decoration: none;
    height: 2vh;
    font-size: 2em;
    font-variant: small-caps;
    text-align: left;
    align-items: center;
}

#bump {
    padding: 0;
    width: 100vw;
    margin-top: 10vh;
}