<div class="container">
  <!-- For loop dis boi -->
  <table>
    <tbody class="font-style">
      <tr class="black">
        <td class="bold-700">Default Black - #000</td>
        <td class="bold-200">"{{ randomSentence }}"</td>
      </tr>
      <tr class="maroon">
        <td class="bold-700">Maroon - #85144B</td>
        <td class="bold-200">"{{ randomSentence }}"</td>
      </tr>
      <tr class="navy">
        <td class="bold-700">Navy - #001F3F</td>
        <td class="bold-200">"{{ randomSentence }}"</td>
      </tr>
      <tr class="pink">
        <td class="bold-700">Pink - #FAAAB8</td>
        <td class="bold-200">"{{ randomSentence }}"</td>
      </tr>
    </tbody>
  </table>
</div>
