<div class="container">
  <!-- For loop dis boi -->
  <table>
    <tbody>
      <tr class="roboto">
        <td class="title">ROBOTO:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium - 1.5em</td>
        <td class="small">Small - 0.75em</td>
      </tr>
      <tr class="raleway">
        <td class="title">RALEWAY:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium - 1.5em</td>
        <td class="small">Small - 0.75em</td>
      </tr>
      <tr class="mansalva">
        <td class="title">MANSALVA:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium - 1.5em</td>
        <td class="small">Small - 0.75em</td>
      </tr>
      <tr class="lato">
        <td class="title">LATO:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium</td>
        <td class="small">Small - 0.75em</td>
      </tr>
      <tr class="press-start">
        <td class="title">PRESS START 2P:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium - 1.5em</td>
        <td class="small">Small - 0.75em</td>
      </tr>
      <tr class="big-shoulders">
        <td class="title">BIG SHOULDERS TEXT:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium - 1.5em</td>
        <td class="small">Small - 0.75em</td>
      </tr>
      <tr class="turret-road">
        <td class="title">Turret Road:</td>
        <td class="big">Large - 3em</td>
        <td class="medium">Medium - 1.5em</td>
        <td class="small">Small - 0.75em</td>
      </tr>
    </tbody>
  </table>
</div>
